<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    
      <div class="container">
        <div class="store">
          <h2 class="store_title">門市據點</h2>
          <div class="store_form">
          <p>選擇地區</p>
          <form>
            <select name="Location">
            <option value="Taipei">台北</option>
            <option value="Taichung">台中</option>
            <option value="Kaohsiung">高雄</option>

            </select></form>
          </div>

<div class="flex_wrap">
<!--台北中山旗艦店-->
            <div class="store_info">
                <img src="../assets/images/store-1.png" alt="台北中山旗艦店">
                <div class="store_name"><p>台北中山旗艦店</p></div>
           <div class="store_infos">
            <div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-phone-black.svg" alt="電話" class="store_icon"><p class="p_l_8">電話：(02)000-1234</p></div>
            <div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-clock-black.svg" alt="時間時間" class="store_icon"><p class="p_l_8">營業時間：10:00-21:00</p></div>
            <div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-map.svg" alt="地址"  class="store_icon"><p class="p_l_8">地址：台北市中山區南京東路25巷2-1號</p></div>
        </div>
        <div class="store_info_more"><a href="#"><p>詳細資訊</p></a></div>
    </div>
<!--台北綠園店-->
<div class="store_info">
    <img src="../assets/images/store-2.png" alt="台北綠園店">
    <div class="store_name"><p>台北綠園店</p></div>
<div class="store_infos">
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-phone-black.svg" alt="電話" class="store_icon"><p class="p_l_8">電話：(02)000-2345</p></div>
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-clock-black.svg" alt="時間時間" class="store_icon"><p class="p_l_8">營業時間：10:00-21:00</p></div>
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-map.svg" alt="地址"  class="store_icon"><p class="p_l_8">地址：台北市中正區復興南路 132-1 號</p></div>
</div>
<div class="store_info_more"><a href="#"><p>詳細資訊</p></a></div>
</div>

<!--台中清水旗艦店-->
<div class="store_info">
    <img src="../assets/images/store-3.png" alt="台中清水旗艦店">
    <div class="store_name"><p>台中清水旗艦店</p></div>
<div class="store_infos">
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-phone-black.svg" alt="電話" class="store_icon"><p class="p_l_8">電話：(02)000-1234</p></div>
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-clock-black.svg" alt="時間時間" class="store_icon"><p class="p_l_8">營業時間：10:00-21:00</p></div>
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-map.svg" alt="地址"  class="store_icon"><p class="p_l_8">地址：台中市清水區經南一路 23 號 8 樓</p></div>
</div>
<div class="store_info_more"><a href="#"><p>詳細資訊</p></a></div>
</div>
<!---->

<!--高雄中正形象店-->
<div class="store_info">
    <img src="../assets/images/store-4.png" alt="高雄中正形象店">
    <div class="store_name"><p>高雄中正形象店</p></div>
<div class="store_infos">
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-phone-black.svg" alt="電話" class="store_icon"><p class="p_l_8">電話：(07)000-2345</p></div>
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-clock-black.svg" alt="時間時間" class="store_icon"><p class="p_l_8">營業時間：10:00-21:00</p></div>
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-map.svg" alt="地址"  class="store_icon"><p class="p_l_8">地址：高雄市苓雅區中正路 38 號 12 樓</p></div>
</div>
<div class="store_info_more"><a href="#"><p>詳細資訊</p></a></div>
</div>

<!--高雄夢時代店-->
<div class="store_info">
    <img src="../assets/images/store-5.png" alt="高雄夢時代店">
    <div class="store_name"><p>高雄夢時代店</p></div>
<div class="store_infos">
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-phone-black.svg" alt="電話" class="store_icon"><p class="p_l_8">電話：(07)000-1234</p></div>
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-clock-black.svg" alt="時間時間" class="store_icon"><p class="p_l_8">營業時間：10:00-21:00</p></div>
<div class="store_infos_list dp_flex align_items_c"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week4/icon-map.svg" alt="地址"  class="store_icon"><p class="p_l_8">地址：高雄市前鎮區中華一路 63 號 6 樓</p></div>
</div>
<div class="store_info_more"><a href="#"><p>詳細資訊</p></a></div>
</div>
<!---->



</div>
<!--end-->


    </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
